// ==========================================
// Global Config
// ==========================================


// Descriptive Base Colors
$white              : #ffffff;
$blue               : #009bde;
$blue-light         : #47aede;
$blue-dark          : #2184be;
$blue-darker        : #18608a;
$orange             : #f7941d;
$orange-dark        : #f16331;
$grey-light         : #a7a9ac;
$grey-lighter       : #929497;
$grey-lightest      : #bcbdbf;
$grey-normal        : #f1f2f2;
$grey-dark          : #58595b;
$grey-darker        : #818285;