<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>  
    <h1>Pengajuan Form Pinjaman LOAN dari Pengguna Jurnal</h1>
    <p>Yth. Tim LOAN, 
      <br><br>
      Berikut kami lampirkan data-data yang berkaitan dari pemohon pinjaman atas nama <%= @form.form_name%>, yang mana data tersebut mencakup:
      <br>
      1. Ringkasan dari data yang diisi pada formulir;
      <br>
      2. Balance sheet pemohon pinjaman per bulan (dalam 3 bulan terakhir);
      <br>
      3. Ringkasan Profit <%=h "&" %> Loss pemohon pinjaman dalam 3 bulan terakhir;
      <br>
      4. Cash flow pemohon pinjaman; dan
      <br>
      5. Sales list dari pemohon pinjaman.
      <br><br>
      Demikian kami sampaikan informasi ini untuk digunakan sebagaimana mestinya.
      <br>
      Terima kasih
      <br><br>
      Regards,
      <br>
      PT Jurnal Consulting Indonesia
      <br>
      Wisma Djingga, Rukan Green Mansion Blok A No 1-4
      <br>
      Jl Raya Daan Mogot KM 10, Cengkareng, Jakarta Barat, DKI Jakarta, 11710
      <br>
      T: (021) 2902 5471  |  F: (021) 2902 5364
    </p>
  </body>
</html>